/* .overlay{
  width: 30vw;
  height: auto;
  background-color: #fff;
  padding: 2rem;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(5px);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}
 */

 * {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



/* Modal */
.overlay {
  /* background-color: rgba(0, 0, 0, 0.5); */
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.modalContainer {
  max-width: 600px;
  width: 100%;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  background-color: rgba(233, 233, 233, 0.75);
  box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
  border-radius: 1rem;
  backdrop-filter: blur(8px);
}

img {
  width: 250px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.modalRight {
  height: 100%;
  width: 100%;
}

.closeBtn {
  position: fixed;
  top: 8px;
  right: 8px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 3rem;
  padding: 1rem 2rem;
}

.btnContainer {
  display: flex;
  padding: 1rem 1rem;
}
.btnContainer button {
  width: 100%;
  margin: .5rem;
  padding: 16px 0;
  /* border: none; */
  border: 2px solid rgba(30, 30, 30, 0.65);
  background-clip:  padding-box;
  /* color: #ffffff; */
}

/* .btnPrimary {
  background-color: #411b57;
  color: white;
} */


.btnPrimary  {
  float: right;
  padding: 0.5rem;
  border-radius: 8px;
  margin-right: 1rem;
  background-color: rgba(30, 30, 30, 0.65);
  color: #fff;
}

.btnOutline {
  /* background-color: #a76a99; */
  margin-right: 1rem;
  border-radius: 8px;

  background-color: rgba(255, 255, 255, 0);
  color: rgba(30, 30, 30, 0.65);
}

.bold {
  font-weight: 600;
}

@media screen and (max-width: 500px) {
  .modalContainer {
    flex-direction: column;
    top: 0;
    left: 0;
    transform: none;
    width: 100%;
    height: 100vh;
  }
  img {
    width: 100%;
    max-height: 70vh;
    object-fit: cover;
  }

  .heading {
    margin: 1rem;
  }
}

.text{
  min-width:100%
}

.textContainer {
  display: flex;
  margin-right: 1.5rem;
  margin-left: 1.5rem;

  justify-content: 'center';
  align-items: 'center';
}

.selectContainer{
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.textAreaContainer{
  width: 91.9%;
  height: 250px;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  border-radius: 4px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);
  transition: 0.3s background-color ease-in-out, 0.3s box-shadow ease-in-out;
  border: 0px;
  font-family: 'Courier New', monospace;
}